/* giving the body a dark background to better see the bright colored boxes */

/* .navbar-custom {
  background-color: lightskyblue;
  text: dark;
} */
.navbar-nav {
  margin-left: 500px;
}

footer {padding: 20px;
  text-align: center;
  background-color: #f8f9fa;
  
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#carousel {
  padding-top: 50px;
}

h1, h4 {
  text-align: center;
  padding-top: 10px;
}

.plots {
  background-color: #eff6f6;
}

.reference-links {
  padding-bottom: 10px;
}

/* Here we define some styles that will ONLY be applied at screen sizes below 600 pixels */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
  
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
 
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
 
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    
}
